{% extends layout %}

{% block body %}<section class="section-01">
				<div class="container">
				</div>
  			</section>
  			<section class="section-02">
				<div class="container">
				</div>
			</section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="js/app.min.js"></script>
  	<link type="text/css" rel="stylesheet" href="{{ stylesheet_page_02 }}">
{% endblock %}
