//elements
a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

sup,
sub {
	font-size: 50%;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	width: 100%;

	@include media ('>=desktop') {
		padding: 0 40px;
	}
}

.btn {
	display: inline-block;
	min-width: 100px;
	text-align: center;
}

.cta {
	display: inline-block;
	text-decoration: none;
}
